body {
    background-image: url(Stormie.png);
    background-repeat: repeat;
}

.Box {
    background-color: rgb(94, 94, 94);
    width: 800px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.DarkenedBG {
    background-color: black;
    opacity: 50%;
    min-height: 100%;
    min-width: 100%;
}

.EmpireWeekly {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Storm {
    position: relative;
    bottom: 25px;
    right: 300px;
}

.Scout {
    position: relative;
    bottom: 25px;
    left: 175px;
}

.Text {
    text-align: center;
    width: 600px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-family: AurebeshAF-Canon;
    src: url(SceletAF.otf);
}

p {
    font-size: larger;
    font-family: AurebeshAF-Canon;
    src: url(SceletAF.otf);
}

